*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: #0f0d0d;
}

.page1{
    height: 100vh;
    width: 100%;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 26px;
    width: 100px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#circle